body{
    background-color: black;
    color: white;
    max-width: 100%;
}

h1{
    background-color: black;
    color: white;
}

#chartDiv{
    height: 600px;
    width: 80%;
}

#portfolio{
    text-align: center;
}

#sidebar{
    position: relative;
    left: 170vh;
    top: -50vh;
    background-color: grey;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #buy{
    background-color: #4CAF50;
  }

  #sell{
      
    background-color: red;
  }

  input[type=submit] {
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  h3{
      background-color: black;
      color: white;
  }